.body-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 5%;
}

.divider {
  margin-top: 10px;
  width: 100px;
  height: 5px;
  background-color: #4382C1;
}

.center {
  margin: 0 auto;
}

.navbar {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8% 6%;
  display: flex;
  position: sticky;
  top: 0px;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.navitems {
  column-gap: 50px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.navitems a {
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
}

.navitems a.active,
.navitems a:hover {
  padding-bottom: 4px;
  border-bottom-color: #5993CC;
}


.hamburger {
  display: none !important;
}

.navlogo {
  width: 240px;
}



@media screen and (max-width: 1000px) {
  .hamburger {
    display: block !important;
  }

  .navitems {
    display: none !important;
  }

  .navlogo {
    width: 200px;
  }

  .bblreport {
    flex-direction: column !important;
  }

  .bblreport-img {
    margin: 40px auto 0 !important;
  }

  .home-professionals {
    flex-direction: column !important;
    row-gap: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .home-hero {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 15% 5% !important;
  }

  .home-heroh1 {
    font-size: 24px !important;
  }

  .home-herop {
    font-size: 16px !important;
  }

  .home-bbl {
    font-size: 16px !important;
  }

  .bblreport-ct p,
  .bblreport-list li {
    font-size: 15px !important;
  }

  .bblreport-img {
    width: 300px !important;
    margin: 40px auto 0 auto;
  }

  .homeprof-cont {
    padding: 20px !important;
  }

  .home-professionals span {
    font-size: 20px !important;
  }

  .home-professionals p {
    font-size: 14px !important;
  }

  .home-crfcontent {
    flex-direction: column !important;
    padding: 5% 0% !important;
  }

  .bblreport-ct {
    row-gap: 20px !important;
  }

  .home-crfcontent {
    row-gap: 20px !important;
  }

  .home-bbl,
  .homeprof-p {
    padding: 5% 0 !important;
  }

  .insthero,
  .onlinehero {
    height: 220px !important;
  }

  .question {
    font-size: 18px !important;
  }

  .answer {
    font-size: 16px !important;
  }

  .hero-btn {
    margin-top: -25px !important;
  }

  .home-crfh2d {
    display: none !important;
  }

  .home-crfh2m {
    display: block !important;
  }

  .iconbox img {
    height: 50px !important;
  }

  .iconbox span {
    font-size: 18px !important;
  }

  .homecrf-wrapper {
    padding: 5% 5% !important;
  }

  .tab {
    flex-direction: column-reverse !important;
  }

  .tabdetails {
    justify-content: space-between !important;
    padding: 10px !important;
  }

  .tablinks {
    padding: 15px 30px !important;
  }

  .tabcontent {
    padding: 15px !important;
  }

  .existing-form {
    width: 100% !important;
  }

  .newform-note {
    font-size: 10px !important;
  }

  .nftab-container {
    flex-direction: column !important;
  }

  .nftab {
    margin: 0px !important;
    flex-direction: row !important;
    overflow: scroll !important;
  }

  .nftablinks {
    padding: 0px !important;
  }
}

.home-crfh2m {
  display: none;
}

.dropdown {
  display: none;
}

.dropdown.active {
  position: absolute;
  right: 0;
  margin: 2% 5%;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.home-hero {
  color: white;
  background-image: url('./public/homehero.png');
  background-size: cover;
  padding: 7% 5%;
}


.home-herocont {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.home-heroh1 {
  margin-bottom: 25px;
  font-size: 50px;
}

.home-herop {
  font-size: 24px;
}

.home-bbl {
  padding: 3% 0%;
  color: #5a95cd;
  font-size: 24px;
}

.bblreport {
  display: flex;
  flex-direction: row;
  padding: 1% 0%;
}

.bblreport-ct {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.bblreport-ct p {
  font-weight: 200;
  font-size: 16px;
}

.bblreport-list li {
  font-weight: 200;
  font-size: 16px;
}

.bblreport-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.bblreport-img {
  width: 480px;
}

.home-professionals {
  flex-direction: row;
  color: white;
  column-gap: 40px;
  display: flex;
  padding: 2% 0%;
}

.home-professionals p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.home-professionals span {
  margin: 20px 0px;
  font-size: 30px;
}

.home-professionals h3 {
  text-transform: uppercase;
  font-size: 32px;
}

.home-professionals img {
  width: 100%;
}

.homeprof-left {
  background-color: #4097d8;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeprof-right {
  background-color: #6669af;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeprof-cont {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 50px 50px;
}



.home-professionals img {
  height: 220px;
  object-fit: cover;
}

.home-professionalstitle {
  margin: 10px 0px;
  text-align: center;
}

.homeprof-p {
  margin: 2% 0px;
}

.homecrf-wrapper {
  background-color: #F2F9FF;
  padding: 2% 5%;
}

.home-crf {
  max-width: 1200px;
  padding: 0% 5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

.home-crfcontent {
  column-gap: 40px;
  padding: 2% 0%;
  display: flex;
}

.home-crfs {
  padding-top: 1%;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}



.iconbox {
  display: flex;
  flex-direction: row;
}

.iconbox img {
  height: 100px;
}

.iconbox span {
  font-size: 32px;
  color: #4097D8;
  font-weight: bold;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-wrapper {
  background-color: #F5F5F5;
  padding: 2% 5%;
}

.footer-disclaimer {
  background-color: #E8E8E8;
  padding: 2% 5%;
}

.fd h2 {
  font-size: 18px;
}

.fd span {
  font-size: 12px;
  font-weight: 200;
}

.fn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  width: 240px;
}

.footer-crfs {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-top: 1%;
  display: flex;
  row-gap: 20px;
}

.footer-cta {
  display: flex;
  column-gap: 20px;
}

.insthero {
  height: 450px;
  background-image: url('./public/inshero.png');
  background-size: cover;
}

.onlinehero {
  height: 450px;
  background-image: url('./public/onlineform.png');
  background-size: cover;
}

.titlebtn {
  background-color: #5993CC;
  border: 1px solid #5993CC;
  color: white;
  text-transform: capitalize;
  font-size: 32px;
  padding: 10px 30px;
}

.hero-btn {
  margin-top: -30px;
  justify-content: center;
  display: flex;
}

.intrdetails {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center
}

/* Reset all styles for div elements */
.container {
  margin-bottom: 50px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #0000002b;
  padding: 30px 0px;
  font-size: 28px;
  font-weight: 300;
  cursor: pointer;
  color: #003E76;
  align-items: center;
}

.answer {
  border-bottom: 1px solid #0000002b;
  padding-bottom: 20px;
  display: none;
  font-size: 18px;
  font-weight: 300;
}

.question.collapsed {
  border-bottom: none;
}

.arrowminus {
  display: none;
}

.body-onlineform {
  background-color: #F9F9F9;
}


.tab-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.tabtitles {
  display: flex;
  column-gap: 10px;
}

.tab {
  display: flex;
  justify-content: space-between;
}

.tab button {
  cursor: pointer;
  padding: 20px 50px;
  border-top: 4px solid #EFEFEF;
  color: #003E76;
  background-color: #EFEFEF;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 4px solid #EFEFEF;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}

.tab button:hover {
  padding: 20px 50px;
  border-top: 4px solid #EFEFEF;
  color: #003E76;
  background-color: #EFEFEF;
}

.tab button.active {
  padding: 20px 50px;
  border-top: 4px solid #5993CC;
  color: #003E76;
  background-color: white;

}

/* Style the tab content */
.tabcontent {
  background-color: white;
  display: none;
  padding: 50px;
}

.exform-body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}


.tabcontent h2 {
  margin-top: 0;
}

.newform-note {
  color: #5993CC;
  font-weight: 300;
  font-size: 16px;
}

.tabdetails {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.existing-form {
  display: flex;
  row-gap: 10px;
  width: 350px;
  border-radius: 5px;
  flex-direction: column;
}

.formbtn {
  width: 100%;
}

.tabdetails-nf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #043E76;
}

.newform {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}


.nftab-container {
  display: flex;
  flex-direction: row;
}

/* Style the tabs */
.nftab {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}


/* Style the tab content */
.nftabcontent {
  flex: 1;
  display: none;
  padding: 1rem;
}

.nftabcontent h2 {
  margin-top: 0;
}

.nftablinks {
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 80px 20px 0px;
  font-size: 1rem;
  text-align: left;
  border-right: 3px solid #EFEFEF;
}

.nftab button:hover {}

.nftablinks.active {
  color: #5993CC;
  background-color: #ffffff;
  border-right: 3px solid #5993CC;
}